.create_form {
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 2%;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.col-form-label {
    color: #838587;
    font-family: Muli, cursive;
}

.fileUpload {
    color: #9b9b9b!important;
}

input {
    font-family: Muli, cursive;
    color: rgba(188, 139, 50, 0.8);
    /*border-color: #f8f9fa;*/
    /*display: inline-block;*/
    /*font-weight: 400;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*user-select: none;*/
    /*border: 1px solid transparent;*/
    /*padding: .375rem .75rem;*/
}

.creation_form h1 {
    text-align: center;
    color: #838587;
}
