.about_page {
    padding: 2%;
}

.img-section {
    border: 1px double rgba(199, 141, 35, 0.3);
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(199, 141, 35, 0.1);
    border-radius: 15px;
}

.join_form {
    display: none;
}

.header_img {
    bottom: 0;
    width: 100%;
}

.img-section h1 {
    font-family: 'Ranga', cursive;
    font-size: 3em;
    text-align: center;
    color: saddlebrown;
}

.img-section h2 {
    text-align: center;
    color: #838587;
    font-size: 1.5em;
    font-family: Muli, cursive;
}

.text-section {
    padding-left: 3%;
}

.text-section h1 {
    color: #343535;
    border: 2px solid white;
    border-right: 10px solid white;
    font-size: 18px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    text-align: justify;
    word-wrap: break-word;
}


.about_btn button {
    margin-right: 2%;
    background-color: rgba(216, 188, 138, 0.3);
    font-family: 'Ranga', cursive;
    font-size: 1.8em;
    color: rgba(188, 139, 50, 0.8);
}

.about_btn button:hover {
    border: 1px solid sandybrown;
    background-color: white;
    color: rgba(188, 139, 50, 1);

}
