{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Add photos
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block styles %}
{% endblock %}

<script>
  {% block jquery %}
    var loadFile = function (event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
    };
  {% endblock %}
</script>


{% block content %}
    <div class="wrap_content">
        <h1>Add photos to album:</h1>
        <hr>
        <div class="row justify-content-center">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="album" value="{{ album }}">
                {{ form|crispy }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}